<div class="container">
	<div class="row justify-content-center" ng-show="debugging" style="background-color:red;color:white">
		<b>DEBUGGING</b>
	</div>

  <div class="row" style="margin-top:20px; margin-bottom:40px;">
			<div class="col-md-4 offset-md-4" data-toggle="modal" data-target="#helpModal">
          <button type="button" class="btn btn-info btn-block">Read the instructions again</button>
      </div>
      <div class="col-md-2 offset-md-2 next-button" ng-show="done()">
          <button type="button" ng-click="next()" class="btn btn-primary btn-block">Continue</button>
      </div>
  </div>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel">PLEASE READ THESE INSTRUCTIONS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <p>Your task is now to sort the statements according to how close they are to how you think. You rate the statements on a scale from +3 to -3, filling up the pyramid from the outside inwards, alternating between most and least.</p>
                <p>Read again all statements in the green pile and choose those that are closest to how you think by clicking on them (you can also choose one from the grey or red pile if you changed your mind). You'll notice that the statements are moved to the correct column automatically.</p>
                <p>When the column is filled, proceed with the red pile and chose those statements that are farthest away from how you think. When done, proceed again with the green pile and fill up the next column. Proceed until all statements are sorted to the columns.</p>
                <p>Note: You can drag and drop cards between the columns if you change your mind. IF YOUR CARDS BECOME TOO SMALL TO READ: Point the mouse cursor over the card and a tool tip will appear with the full statement.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="ratings row justify-content-center" style="margin-top:50px">

    <div class="normaldist" style="transform: rotate(180deg);">
        <table align="center">
        </table>
    </div>
</div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <p><strong>Least like how I think</strong></p>
        </div>
        <div class="col-md-4 text-center">
            <p><strong>I'm indifferent</strong></p>
        </div>
        <div class="col-md-4 text-right">
            <p><strong>Most like how I think</strong></p>
        </div>
    </div>

    <div class="simpleDemo row step4lists" style="margin:20px">
            <table align="center">
                <tr>
                    <td style="vertical-align:top">
                        <div style="width:320px;padding-right:10px;">
                            <div class="card" id="disagree">
                                <ul dnd-list="classifications.DISAGREE" dnd-drop="dropDisagreeCallback(index, item, external, type)">
                                    <li ng-repeat="statement in classifications.DISAGREE" dnd-draggable="statement" dnd-moved="movedDisagreeCallback($index)"
                                        dnd-effect-allowed="move">
                                        <div class="card" ng-click="chooseStatement($index, statement)">
                                            <div class="card-body">
                                                <h5 class="card-title"><span class="badge {{ ratingClass }}">{{ ratingLabel }}</span></h5>
                                                {{ statement.statement }}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align:top">
                        <div style="width:320px;padding-right:10px;">
                            <div class="card" id="neutral">
                                <ul dnd-list="classifications.NEUTRAL" dnd-drop="dropNeutralCallback(index, item, external, type)">
                                    <li ng-repeat="statement in classifications.NEUTRAL" dnd-draggable="statement" dnd-moved="movedNeutralCallback($index)"
                                        dnd-effect-allowed="move">
                                        <div class="card" ng-click="chooseStatement($index, statement)">
                                            <div class="card-body">
                                                <h5 class="card-title"><span class="badge {{ ratingClass }}">{{ ratingLabel }}</span></h5>
                                                {{ statement.statement }}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align:top">
                        <div style="width:320px;padding-right:10px;">
                            <div class="card" id="agree">
                                <ul dnd-list="classifications.AGREE" dnd-drop="dropAgreeCallback(index, item, external, type)">
                                    <li ng-repeat="statement in classifications.AGREE" dnd-draggable="statement" dnd-moved="movedAgreeCallback($index)"
                                        dnd-effect-allowed="move">
                                        <div class="card" ng-click="chooseStatement($index, statement)">
                                            <div class="card-body">
                                                <h5 class="card-title"><span class="badge {{ ratingClass }}">{{ ratingLabel }}</span></h5>
                                                {{ statement.statement }}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
 
                </tr>
            </table>
    </div>
</div>
