<div class="container-fluid" ng-controller="step6Ctrl as vm">
	<div class="row justify-content-center" ng-show="debugging" align="center" style="background-color:red;color:white">
		<b>DEBUGGING</b>
	</div>

  <div class="row justify-content-center" style="margin-top:20px;">
      <div class="col-md-4">
	    <formly-form model="vm.model" fields="vm.userFields" form="vm.userForm">
          <button type="button" class="btn btn-primary"	ng-click="back()">Back</button>
			    <button type="submit" class="btn btn-success submit-button" ng-click="submit()" ng-disabled="vm.userForm.$invalid">Submit</button>
	    </formly-form>
      </div>
  </div>
</div>

