<div class="container">
    <div class="row justify-content-center" ng-show="debugging" align="center" style="background-color:red;color:white">
        <b>DEBUGGING</b>
    </div>
    <div class="row dynamicpages" ng-bind-html="currentPage"></div>
    <div class="row justify-content-center">
        <div class="col-md-1 next-button" ng-show="currentPageIndex > 0" align="center" style="margin-bottom:50px">
            <a href="" ng-click="back()" class="btn btn-primary">Back</a>
        </div>
				<div class="col-md-1 next-button" align="center" style="margin-bottom:50px">
            <button type="button" ng-click="next()" class="btn btn-primary">Continue</button>
        </div>
    </div>
</div>


