<div class="container-fluid simpleDemo">
    <div class="row justify-content-center" ng-show="debugging" align="center" style="background-color:red;color:white">
        <b>DEBUGGING</b>
    </div>
    <div class="row" style="margin-top:20px; margin-bottom:40px;">
        <div class="col-md-2 offset-md-2">
            <button type="button" ng-click="back()" class="btn btn-primary btn-block">Back</button>
        </div>
				<div class="col-md-2 offset-md-1" data-toggle="modal" data-target="#helpModal">
            <button type="button" class="btn btn-info btn-block">Read the instructions again</button>
        </div>
        <div class="col-md-2 offset-md-1 next-button" ng-show="done()">
            <button type="button" ng-click="next()" class="btn btn-primary btn-block">Continue</button>
        </div>
    </div>

    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="helpModalLabel">PLEASE READ THESE INSTRUCTIONS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <p>Read the following statements carefully and split them up into 3 piles:
                    <ol>
                        <li>A pile for statements you tend to agree with.</li>
                        <li>A pile for statements you tend to disagree with.</li>
                        <li>A pile for the rest.</li>
                    </ol>
                </p>
                <p>Note: The order you put the cards in each pile is NOT important.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div ng-show="!done()" class="statementcounter">
            <p>Statements to go: <span class="badge badge-info">{{ statementsToGo }}</span></p>
        </div>
    </div>

    <div class="cardsholder row justify-content-center" style="height: 175px">
        <ul dnd-list="cards.statements">
            <li ng-repeat="statement in cards.statements | filter: hasNoCategory | limitTo: 1"
                 dnd-draggable="statement" dnd-moved="cards.statements.splice($index, 1)"
                 dnd-effect-allowed="move" dnd-selected="cards.first == statement.id"
                  >
                    {{ statement.statement }}
            </li>
             <li class="dndPlaceholder" style="display: none;"></li>
        </ul>
    </div>

    <div class="step3lists row justify-content-center">
        <div class="simpleDemo row" style="margin:20px ">
            <div class="row">
                <table align="center">
                    <tr>
                        <td style="vertical-align:top">
                            <div style="width:320px;padding-right:10px;">
                                <div class="card" id="disagree">
                                    <div class="card-header disagree_card_heading">
                                        <h3 class="card-title" align="center">DISAGREE</h3>
                                    </div>
                                    <ul dnd-list="classifications" dnd-drop="dropDisagreeCallback(index, item, external, type)">
                                        <li ng-repeat="statement in classifications.DISAGREE" dnd-draggable="statement" dnd-moved="classifications.DISAGREE.splice($index, 1)" dnd-effect-allowed="move">
                                            {{ statement.statement }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td style="vertical-align:top">
                            <div style="width:320px;padding-right:10px;">
                                <div class="card" id="neutral">
                                    <div class="card-header neutral_card_heading">
                                        <h3 class="card-title" align="center">NEUTRAL</h3>
                                    </div>
                                    <ul dnd-list="classifications" dnd-drop="dropNeutralCallback(index, item, external, type)">
                                        <li ng-repeat="statement in classifications.NEUTRAL" dnd-draggable="statement" dnd-moved="classifications.NEUTRAL.splice($index, 1)" dnd-effect-allowed="move">
                                            {{ statement.statement }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td style="vertical-align:top">
                            <div style="width:320px;padding-right:10px;;">
                                <div class="card" id="agree">
                                    <div class="card-header agree_card_heading">
                                        <h3 class="card-title" align="center">AGREE</h3>
                                    </div>
                                    <ul dnd-list="classifications" dnd-drop="dropAgreeCallback(index, item, external, type)">
                                        <li ng-repeat="statement in classifications.AGREE" dnd-draggable="statement" dnd-moved="classifications.AGREE.splice($index, 1)" dnd-effect-allowed="move">
                                            {{ statement.statement }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
</div>
